<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/WEB-INF/include/template.xhtml">
        <ui:define name="head">
            <h:outputStylesheet library="css" name="sidebar.css"/>
            <ui:insert name="head1"/>
        </ui:define>
        <ui:define name="body">
            <div id="wrapper" class="active"> 
                <div id="sidebar-wrapper">
                    <ul id="sidebar_menu" class="sidebar-nav">
                        <li class="sidebar-brand"><a>Menu</a></li>
                    </ul>
                    <ul class="sidebar-nav" id="sidebar">
                        <li><h:link value="Administración de usuarios"/></li>
                        <li><h:link value="Consultorios"/></li>
                        <li><h:link value="Cerrar sesión"/></li>
                    </ul>
                </div>
                <!-- Page content -->
                <div id="page-content-wrapper">
                    <div class="page-content inset">
                        <div class="row">
                            <div class="col-md-12 contenido">
                                <!--Empieza el contenido de verdad-->
                                <ui:insert name="body1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>