.-input-login-nombre {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.-input-login-pass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media (min-width: 950px) {
    .-container-login {
        width: 30vw !important;
        margin-top: 10vh !important;
    }
}

/*tablet*/
@media (min-width: 300px) and (max-width: 949px) {
    .-container-login {
        width: 60vw !important;
        margin-top: 10vh !important;
    }
}

/*teléfono*/
@media (max-width: 299px) {
    .-container-login {
        width: 70vw !important;
        margin-top: 10vh !important;
    }
}

