/*General*/

.col-bordeada{
    border-color: #004085!important;
}

.-sidebar {
    position: fixed!important;
    top: 0!important;
    bottom: 0!important;
    left: 0!important;
    z-index: 100!important;
    padding: 48px 0 0!important;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)!important;
}

.-stiky-sidebar {
    position: relative!important;
    top: 0!important;
    height: calc(100vh - 48px)!important;
    padding-top: .5rem!important;
    overflow-x: hidden!important;
    overflow-y: auto!important;
}

/*Lo más grande*/
@media (min-width: 1281px) {
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1281px) {
}

/*teléfono*/
@media (max-width: 769px) {
}
