<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/include/barra.xhtml">
        <ui:define name="head1">
        </ui:define>
        <ui:define name="body1">
            <h2>Datos del paciente</h2>
            <hr/>

            <h:panelGrid  columns="8" cellpadding="10" cellspacing="1">

                <h:outputLabel value="Nombre:" style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.paciente.nombre}"></h:outputLabel>

                <h:outputLabel value="Apellidos: " style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.paciente.apellidoPaterno}
                               #{pacienteBean.paciente.apellidoMaterno}"></h:outputLabel>

                <h:outputLabel value="CURP::" style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.paciente.curp}"></h:outputLabel>

                <h:outputLabel value="Fecha nacimiento:" style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.parseDate()}"></h:outputLabel>

                <h:outputLabel value="Localidad:" style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.paciente.localidad}"></h:outputLabel>

                <h:outputLabel value="Codigo Postal: " style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.paciente.codigoPostal}"></h:outputLabel>

                <h:outputLabel value="Estado: " style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.paciente.estado}"></h:outputLabel>

                <h:outputLabel value="Numero de seguro: " style="font-weight: bold"></h:outputLabel>
                <h:outputLabel value="#{pacienteBean.paciente.numeroSeguro}"></h:outputLabel>
            </h:panelGrid>
            <hr/>
            <h2>Historial de recetas</h2>
            <h:dataTable 
                var="paciente"
                class="table">
                <h:column>
                    <f:facet name="header">Nombre</f:facet>
                </h:column>
                <h:column>
                    <f:facet name="header">Fecha</f:facet>
                </h:column>
                <h:column>
                    <f:facet name="header">Observación</f:facet>
                </h:column>
            </h:dataTable>
            <hr/>
            <h2>Registrar nueva receta</h2>
            <h:form>
                <br/>
                <h:panelGrid columns="6" cellpadding="10" cellspacing="1">

                    <h:outputLabel value="Estatura" style="font-weight: bold"></h:outputLabel>
                    <h:inputText class="form-control -input-login-nombre" 
                                 id="receta_estatura" 
                                 a:placeholder="Estatura..."/>

                    <h:outputLabel value="Peso " style="font-weight: bold"></h:outputLabel>
                    <h:inputText class="form-control -input-login-nombre" 
                                 id="receta_peso" 
                                 a:placeholder="Peso..."/>

                    <h:outputLabel value="Presión" style="font-weight: bold"></h:outputLabel>
                    <h:inputText class="form-control -input-login-nombre" 
                                 id="receta_presion" 
                                 a:placeholder="Presión..."/>
                </h:panelGrid>
            </h:form>
            <br/>
            <div class="row">
                <div class="col-md-5">
                    <h:outputLabel value="Observaciones" style="font-weight: bold"></h:outputLabel>

                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <h:form>
                        <textArea class="form-control" 
                                  id="receta_observacion" 
                                  placeholder="Observaciones..."
                                  value=""/>
                    </h:form>
                </div>

                <div class="col-md-5">
                    <h:form>
                        <h:selectOneMenu class=" btn btn-light dropdown-toggle" 
                                         value="#{medicamentoBean.idMedicamento}"
                                         style="width:52%" id="selectMedicamentos">
                            <f:selectItems 
                                var="Medicamento"
                                value="#{medicamentoBean.medicamentos}"
                                itemLabel="#{Medicamento.nombre}"
                                itemValue="#{Medicamento.id}"
                                class="dropdown-item"/>
                        </h:selectOneMenu>

                        <h:commandButton class="btn btn-primary" 
                                         value="Agregar Medicamento" 
                                         style="float: right"
                                         actionListener = "#{medicamentoBean.agregarMedicamento()}"/>

                        <br/><br/>
                        <h:dataTable class="table" id="tablaMedicamentos" 
                                     value="#{medicamentoBean.medicamentosReceta}"
                                     var="MedicamentoReceta">
                            <h:column>

                                <f:facet name="header">Medicamentos</f:facet>
                                <h:outputLabel value="#{MedicamentoReceta.nombre}"></h:outputLabel>
                            </h:column>
                        </h:dataTable>
                    </h:form>

                </div>
            </div>
            <h:form>
                <h:panelGrid columns="1" cellpadding="10" cellspacing="40">
                    <h:commandButton type="submit" class="btn btn-primary" 
                                     value=" Registrar Receta "/>
                </h:panelGrid>
            </h:form>
            <br/>
            <br/>
            <br/>
        </ui:define>
    </ui:composition>


</html>
