<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="/WEB-INF/include/template.xhtml">
        <ui:define name="head">
            <title>Facelet Title</title>
            <h:outputStylesheet library="css" name="login.css"/>
        </ui:define>
        <ui:define name="body">
            <div class="container text-center -container-login jumbotron">
                <h2>Manejo de hospital</h2>
                <h:form class="form-signin">
                    <div class="form-group">
                        <h:inputText class="form-control -input-login-nombre" 
                                     id="login-nombre-us" 
                                     a:placeholder="Nombre de usuario"
                                     value="#{usuarioBean.usuario.usuario}"/>
                        <h:inputSecret class="form-control -input-login-pass" 
                                       id="login-contrasena" 
                                       a:placeholder="Contraseña" 
                                       value="#{usuarioBean.usuario.contrasena}"/>
                    </div>
                    <h:commandButton type="submit" class="btn btn-primary" 
                                     value="Ingresar" 
                                     action="#{usuarioBean.validarUsaurio()}"/>
                                     
                </h:form>
            </div>
        </ui:define>
    </ui:composition>

</html>