<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/include/barra.xhtml">
        <ui:define name="head1">
        </ui:define>
        <ui:define name="body1">
            <h1>Recepcionista</h1>
            <hr/>
            <h:form>
                <div class="row">
                    <h:selectOneMenu class="col-md-3 btn btn-light dropdown-toggle" 
                                     value="#{consultorioBean.buscador.id}">
                        <f:selectItems 
                            value="#{consultorioBean.consultorios}" 
                            var="consultorio"
                            itemLabel="Consultorio ##{consultorio.numero}"
                            itemValue="#{consultorio.id}"
                            class="dropdown-item"/>
                    </h:selectOneMenu>
                    <h:commandButton class="btn btn-primary offset-md-1 col-md-2" 
                                     value="Buscar" 
                                     actionListener="#{consultorioBean.actualizarTabla()}"/>
                </div>
                <br/>
            </h:form>
            <h:form>
                <h:dataTable 
                    value="#{consultorioBean.recuperado.cola.pacientes}" 
                    var="paciente"
                    class="table">
                    <h:column>
                        <f:facet name="header">Acción</f:facet>
                        <h:commandLink value="Eliminar" actionListener="#{consultorioBean.recuperado.cola.removerPersona(paciente)}"/>/
                        <h:commandLink value="Enviar a la cola" actionListener="#{consultorioBean.recuperado.cola.mandarALaCola(paciente)}"/>/
                        <h:commandLink value="Pasar" actionListener="#"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Nombre</f:facet>
                        <h:outputLabel value="#{paciente.nombre}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Apellidos</f:facet>
                        <h:outputLabel value="#{paciente.apellidoPaterno} #{paciente.apellidoMaterno}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Seguro</f:facet>
                        <h:outputLabel value="#{paciente.seguro.nombre}"/>
                    </h:column>
                </h:dataTable>
            </h:form>
            <button class="btn btn-primary">Añadir usuario</button>
        </ui:define>
    </ui:composition>
</html>
